.button {
    display:inline-block;
    height:45px;
    line-height:45px;
    padding:0 20px;
    @include border-radius(10px);
    @include transition(300ms);
    text-decoration:none;
}
.button-aqua {
    @extend .button;
    background-color:$aqua;
    color:$white;
    &:hover {
    }
}
.button-gray {
    @extend .button;
    background-color:$gray;
    color:$white;
    &:hover {
    }
}
