.button {
    display:inline-block;
    height:45px;
    line-height:45px;
    padding:0 20px;
    @include border-radius(10px);
    @include transition(300ms);
    text-decoration:none;
    text-align:center;
    box-sizing: border-box;
}
.button-aqua {
    @extend .button;
    background-color:$aqua;
    color:$white;
    &.disabled {
        pointer-events: none;
        opacity:0.2;
    }
    &:hover {
        filter: brightness(1.1);
        color:$white;
    }
}
.button-gray {
    @extend .button;
    background-color:$gray;
    color:$white;
    &:hover {
        filter: brightness(1.1);
        color:$white;
    }
}
