#edit-code {
    overflow:visible;
    #edit-code-form {
        position:relative;
        float:left;
        padding:50px 30px;
        width:calc(66.66% - 62px);
        border:1px solid #ededed;
        background-color:#ffffff;
        overflow:visible;
        @include border-radius(10px);
        h3 {
            font-size:24px;
            font-weight:700;
            margin-bottom:20px;
            padding-bottom:10px;
            border-bottom:1px solid #cccccc;
        }
        h4 {
            font-weight:600;
            font-size:22px;
        }
        label {
            margin-top:20px;
        }
        .custom-radio-option {
            float:left;
            margin-right:10px;
        }
        .image-radio {
            #dot-style-square {
                background-image:url('images/icon-dots-square.png');
            }
            #dot-style-rounded {
                background-image:url('images/icon-dots-rounded.png');
            }
            #dot-style-shell {
                background-image:url('images/icon-dots-shell.png');
            }
            #dot-style-dots {
                background-image:url('images/icon-dots-dots.png');
            }
        }
        #dot-color-container {
            margin-top:10px;
            .pickr {
                float:left;
                button {
                    width:40px;
                    height:40px;
                }
            }
            input {
                width:100px;
                padding:0 10px;
                float:left;
                margin-left:5px;
                cursor: pointer; /* normal text cursor */
                background-color: #fff; /* keep background white */
            }
        }
        #edit-code-submit {
            margin-top:20px;
        }
    }
    #edit-code-preview {
        padding:50px 30px;
        width:calc(33.33% - 92px);
        margin-left:30px;
        border:1px solid #ededed;
        background-color:#ffffff;
        @include border-radius(10px);
        float:left;
        svg {
            width:100%;
        }
    }
}

.pcr-type[data-type="HEXA"] {
    display:none;
}
.pcr-button {
    border:1px solid #cccccc;
}
.pcr-app {
    @include border-radius(10px);
    overflow:hidden;
}
.pcr-save {
    background:$aqua !important;
}