header {
    width:20%;
    float:left;
    position:fixed;
    top:50px;
    left:0;
    z-index:10;
    height:calc(100vh - 100px);
    border-right:1px solid #ccc;
    #header-logo {
        width:calc(100% - 100px);
        height:80px;
        background-color:#ededed;
        position:relative;
        left:50%;
        @include translate(-50%, 0);
        margin-bottom:40px;
    }
    #header-user {
        width:40%;
        position:relative;
        left:50%;
        @include translate(-50%, 0);
        margin-bottom:60px;
        #header-user-monogram {
            width:100%;
            padding-top:100%;
            background-color:#ededed;
            @include border-radius(50%);
            margin-bottom:10px;
        }
        p {
            text-align:center;
            font-weight:600;
            font-size:20px;
            margin-bottom:5px;
        }
        #logout-submit {
            display:inline-block;
            position:relative;
            left:50%;
            @include translate(-50%, 0);
            color:#999999;
            &:hover {
                color:#FF8484;
            }
        }
    }
    ul {
        width:calc(60%);
        position:relative;
        left:50%;
        @include translate(-50%, 0);
        li {
            margin-bottom:15px;
            a {
                color:$charcoal;
                font-weight:500;
                display:block;
                clear:both;
                overflow:hidden;
                i {
                    width:40px;
                    height:40px;
                    display:inline-block;
                    background-color:#ededed;
                    float:left;
                    margin-right:15px;
                }
                span {
                    display:inline-block;
                    float:left;
                    height:40px;
                    line-height: 40px;
                }
            }
        }
    }
}