#recover-password {
    position:relative;
    width:100%;
    max-width:400px;
    left:50%;
    @include translate(-50%, 0);
    h2 {
        margin:0 0 20px 0;
        text-align:center;
    }
    label {
        color:$gray;
        font-weight:400;
        text-align:center;
    }
    #recover-password-messages {
        list-style: disc;
        list-style-position: inside;
        li {
            color:$red;
            font-size:16px;
            margin:7px 0;
            &:first-of-type {
                margin-top:20px;
            }
            &.green {
                color:$green;
            }
        }
    }
    .button-aqua {
        width:100%;
        margin-top:20px;
    }
}

#reset-password {
    position:relative;
    width:100%;
    max-width:400px;
    left:50%;
    @include translate(-50%, 0);
    h2 {
        margin:0 0 20px 0;
        text-align:center;
    } 
    label {
        margin-top:15px;
    }
    #reset-password-messages {
        list-style: disc;
        list-style-position: inside;
        li {
            color:$red;
            font-size:16px;
            margin:7px 0;
            &:first-of-type {
                margin-top:20px;
            }
            &.green {
                color:$green;
            }
        }
    }
    .button-aqua {
        width:100%;
        margin-top:20px;
    }
}