body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-size:18px;
}
a {
    @include transition(300ms);
    text-decoration:none;
}
p {
    line-height:24px;
}
h1, h2, h3, h4, h5, h6 {
    color:$charcoal;
}
h1 {
    font-size:30px;
    line-height:32px;
    font-weight:800;
}
h2 {
    font-size:22px;
    margin-top:20px;
}
h3 {
    font-size:30px;
    font-weight:800;
}
h4 {
    font-size:26px;
    line-height:30px;
}
h5 {

}
h6 {
  
}

 